webroot/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>DebugKing テスト</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="DebugKing テスト"/>
    <meta property="og:site_name" content="DebugKing テスト"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/img/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/top.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header>
        <div class="header">
          <div class="header-inner">
            <div class="header-inner__left"><a href="/"> <img class="logo" src="/assets/img/logo.png" alt="/"></a>
              <p class="logo-txt">WEB制作に関わる全ての人に</p>
            </div>
            <div class="header-inner__right"><a href="https://idealump.com/contact"> 
                <p class="contact">お問い合わせ</p></a></div>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="mv"> 
          <div class="mv-inner">
            <div class="mv-txt">
              <p class="mv-txt__first">WEB制作に関わる全ての人に</p>
              <p class="mv-txt__second">今よりも効率の良い<br> <span class="mv-txt__blue">デバッグを </span><br>行いたくありませんか？</p>
              <p class="mv-txt__third">視点・知識の共有でチェック時の抜けや漏れをゼロに。<br>コストを削減しつつ、制作物の品質向上に繋げるWEBツールです。</p>
            </div>
            <div class="mv-top"> <img src="/assets/img/mv.svg" alt=""></div>
          </div>
        </div>
        <div class="about"> 
          <div class="about-inner">
            <div class="about-inner__title">
              <p class="about-title__blue">Debug King </p>
              <p class="about-title__black">って？</p>
            </div>
            <div class="about-inner__dsc"> 
              <p>クリエイター、ディレクター…といった、WEB制作に携わる人々が<br>ひとつの制作物を完成させるために開発されたツールです。</p>
            </div>
            <div class="about-inner__img"> <img src="/assets/img/about.png" alt=""></div>
            <div class="about-inner-sp"><img src="/assets/img/about-01.png" alt=""><img src="/assets/img/about-02.png" alt=""><img src="/assets/img/about-03.png" alt=""></div>
            <div class="about-inner__txt">
              <p>このツールは主に、一般的な制作フローにおいてテスト公開から<br>本番公開の間にあるUI/UXデザインチェックの際に活躍します。<br>ツールを活用することで余分なリソースを削減し、全体コストの調整に繋げます。</p>
            </div>
          </div>
        </div>
        <div class="trouble"> 
          <div class="trouble-inner"> 
            <div class="trouble-inner__title"> 
              <p>こんなことに困っていませんか？</p>
            </div>
            <div class="trouble-inner__title-sp">
              <p>こんなことに<br>困っていませんか？</p>
            </div>
            <div class="trouble-inner__ex"> 
              <div class="exmple"><img class="exmple-img" src="/assets/img/trouble-01.png" alt="">
                <p class="exmple-title">制作物の品質が安定しない</p>
                <p class="exmple-txt">・デバッグにリソースを割けずバグを見逃してしまう…</p>
                <p class="exmple-txt">・タイトなスケジューリングのせいでデバッグに時間を充てられない…</p>
              </div>
              <div class="exmple"><img class="exmple-img" src="/assets/img/trouble-02.png" alt="">
                <p class="exmple-title">案件によってデバッグ精度が異なる</p>
                <p class="exmple-txt">・デバッグ経験に差のあるメンバーの間を埋めるのが大変だ…</p>
                <p class="exmple-txt">・デバッグ作業を行うメンバーが少なくチェックが手薄になってしまう…</p>
              </div>
              <div class="exmple"><img class="exmple-img" src="/assets/img/trouble-03.png" alt="">
                <p class="exmple-title">デバッグシートの作成が面倒</p>
                <p class="exmple-txt">・各案件ごとに1から項目を考えて作成するのは非効率だ…</p>
                <p class="exmple-txt">・シートのブラッシュアップをするのにも時間がかかる…</p>
              </div>
            </div>
          </div>
          <div class="solution-inner">
            <div class="solution-inner__title"> 
              <p class="solution-title__black">そのお悩み</p>
              <p class="solution-title__blue">Debug King </p>
              <p class="solution-title__black">で解決できます。</p>
            </div>
            <div class="solution-list"> 
              <div class="solution-box">
                <div class="solution-box__number"> 
                  <h2>1</h2>
                </div>
                <div class="solution-box__title">
                  <p>テンプレートで効率アップ</p>
                </div>
                <div class="solution-box__dsc">
                  <p>テンプレートの項目やヘルプに沿って進行することで、<br>経験値の大小に関係なく作業ができます。<br>また、デバッグシート作成のリソースを他に回せるため、効率アップにつながります。</p>
                </div>
                <div class="solution-box__img-sp img-sp__left img-sp__top"><img src="/assets/img/solution-01-sp.png" alt="">
                  <div class="solution-bluebox__right"> <img src="/assets/img/solution-box01-sp.png" alt=""></div>
                </div>
                <div class="solution-box__img"><img src="/assets/img/solution-00.png" alt="">
                  <div class="solution-box__right">
                    <p>既に完成されたテン<br>プレート通りに<br>進めるだけ！</p>
                  </div>
                </div>
              </div>
              <div class="solution-box">
                <div class="solution-box__number"> 
                  <h2>2</h2>
                </div>
                <div class="solution-box__title">
                  <p>チェックポイントの共有</p>
                </div>
                <div class="solution-box__dsc">
                  <p>メンバーは自由にテンプレートの項目追加が行えます。<br>ディレクター・クリエイター・エンジニアといった様々な立場から項目を充実させることで、<br>見落としがちなポイントも抜けがありません。</p>
                </div>
                <div class="solution-box__img-sp img-sp__right img-sp__top"><img src="/assets/img/solution-02-sp.png" alt="">
                  <div class="solution-bluebox__left"> <img src="/assets/img/solution-box02-sp.png" alt=""></div>
                </div>
                <div class="solution-box__img"><img src="/assets/img/solution-01.png" alt="">
                  <div class="solution-box__left">
                    <p>既に完成されたテン<br>プレート通りに<br>進めるだけ！</p>
                  </div>
                </div>
              </div>
              <div class="solution-box">
                <div class="solution-box__number"> 
                  <h2>3</h2>
                </div>
                <div class="solution-box__title">
                  <p>コメント機能で見える化</p>
                </div>
                <div class="solution-box__dsc">
                  <p>テンプレート内のチェック項目の消化度やメンバーによる質問と回答、<br>各項目の進捗や作業担当者などを見える化することで、<br>プロジェクトの進行をスムーズにします。</p>
                </div>
                <div class="solution-box__img-sp img-sp__left img-sp__top"><img src="/assets/img/solution-03-sp.png" alt="">
                  <div class="solution-bluebox__right"> <img src="/assets/img/solution-box03-sp.png" alt=""></div>
                </div>
                <div class="solution-box__img"><img src="/assets/img/solution-02.png" alt="">
                  <div class="solution-box__right">
                    <p>既に完成されたテン<br>プレート通りに<br>進めるだけ！</p>
                  </div>
                </div>
              </div>
              <div class="solution-box">
                <div class="solution-box__number"> 
                  <h2>4</h2>
                </div>
                <div class="solution-box__title pc">
                  <p>ヒント機能で経験が浅くても安心</p>
                </div>
                <div class="solution-box__dsc">
                  <p>項目ごとに付けられるヒント機能により、<br>作業のコツや注意点を各メンバーと簡単に共有！</p>
                </div>
                <div class="solution-box__img-sp img-sp__last"><img src="/assets/img/solution-04-sp.png" alt=""></div>
                <div class="solution-box__img"><img src="/assets/img/solution-03.png" alt=""></div>
              </div>
            </div>
          </div>
          <div class="contact">
            <div class="footer-inner"> 
              <div class="footer-inner__contact-pc">
                <p>費用等、導入についてのご質問は下記よりご連絡ください。</p>
              </div>
              <div class="footer-inner__contact-sp"> 
                <p>費用等、導入についての<br>ご質問は下記よりご連絡ください。</p>
              </div>
              <div class="footer-inner__btn"> <a href="https://idealump.com/contact"> 
                  <p>お問い合わせはこちら</p></a></div>
              <p class="footer-inner__demo">デモ画面・機能一覧もお見せいたします！</p>
            </div>
          </div>
          <div class="footer__pagetop">
            <div class="footer__pagetop__link"> <a href="#"></a></div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer>
        <div class="footer"></div>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>

resources/pug/index.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .mv 
        .mv-inner
            .mv-txt
                p.mv-txt__first WEB制作に関わる全ての人に
                p.mv-txt__second 今よりも効率の良い
                        br 
                        |  
                        span.mv-txt__blue デバッグを 
                        br 
                        | 行いたくありませんか？
                p.mv-txt__third 視点・知識の共有でチェック時の抜けや漏れをゼロに。
                        br
                        | コストを削減しつつ、制作物の品質向上に繋げるWEBツールです。
            .mv-top  
                img(src="/assets/img/mv.svg", alt="")
    .about  
        .about-inner
            .about-inner__title
                p.about-title__blue Debug King 
                p.about-title__black って？
            .about-inner__dsc 
                p クリエイター、ディレクター…といった、WEB制作に携わる人々が
                    br
                    | ひとつの制作物を完成させるために開発されたツールです。
            .about-inner__img 
                img(src="/assets/img/about.png", alt="")
            .about-inner-sp
                img(src="/assets/img/about-01.png", alt="")
                img(src="/assets/img/about-02.png", alt="")
                img(src="/assets/img/about-03.png", alt="")
            .about-inner__txt
                p このツールは主に、一般的な制作フローにおいてテスト公開から
                    br
                    | 本番公開の間にあるUI/UXデザインチェックの際に活躍します。
                    br
                    | ツールを活用することで余分なリソースを削減し、全体コストの調整に繋げます。
    .trouble 
        .trouble-inner 
            .trouble-inner__title 
                p こんなことに困っていませんか？
            .trouble-inner__title-sp
                p こんなことに
                    br
                    | 困っていませんか？
            .trouble-inner__ex 
                .exmple
                    img.exmple-img(src="/assets/img/trouble-01.png", alt="")
                    p.exmple-title 制作物の品質が安定しない
                    p.exmple-txt ・デバッグにリソースを割けずバグを見逃してしまう…
                    p.exmple-txt ・タイトなスケジューリングのせいでデバッグに時間を充てられない…

                .exmple
                    img.exmple-img(src="/assets/img/trouble-02.png", alt="")  
                    p.exmple-title 案件によってデバッグ精度が異なる
                    p.exmple-txt ・デバッグ経験に差のあるメンバーの間を埋めるのが大変だ…
                    p.exmple-txt ・デバッグ作業を行うメンバーが少なくチェックが手薄になってしまう…
                .exmple
                    img.exmple-img(src="/assets/img/trouble-03.png", alt="")
                    p.exmple-title デバッグシートの作成が面倒
                    p.exmple-txt ・各案件ごとに1から項目を考えて作成するのは非効率だ…
                    p.exmple-txt ・シートのブラッシュアップをするのにも時間がかかる…
        .solution-inner
            .solution-inner__title 
                p.solution-title__black そのお悩み
                p.solution-title__blue Debug King 
                p.solution-title__black で解決できます。
            .solution-list 
                .solution-box
                    .solution-box__number  
                        h2 1
                    .solution-box__title
                        p テンプレートで効率アップ
                    .solution-box__dsc
                        p テンプレートの項目やヘルプに沿って進行することで、
                            br
                            | 経験値の大小に関係なく作業ができます。
                            br
                            | また、デバッグシート作成のリソースを他に回せるため、効率アップにつながります。
                    .solution-box__img-sp.img-sp__left.img-sp__top
                        img(src="/assets/img/solution-01-sp.png", alt="")
                        .solution-bluebox__right 
                            img(src="/assets/img/solution-box01-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-00.png", alt="")
                        .solution-box__right
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 2
                    .solution-box__title
                        p チェックポイントの共有
                    .solution-box__dsc
                        p メンバーは自由にテンプレートの項目追加が行えます。
                            br
                            | ディレクター・クリエイター・エンジニアといった様々な立場から項目を充実させることで、
                            br
                            | 見落としがちなポイントも抜けがありません。
                    .solution-box__img-sp.img-sp__right.img-sp__top
                        img(src="/assets/img/solution-02-sp.png", alt="")
                        .solution-bluebox__left 
                            img(src="/assets/img/solution-box02-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-01.png", alt="")
                        .solution-box__left
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 3
                    .solution-box__title
                        p コメント機能で見える化
                    .solution-box__dsc
                        p テンプレート内のチェック項目の消化度やメンバーによる質問と回答、
                            br
                            | 各項目の進捗や作業担当者などを見える化することで、
                            br
                            | プロジェクトの進行をスムーズにします。
                    .solution-box__img-sp.img-sp__left.img-sp__top
                        img(src="/assets/img/solution-03-sp.png", alt="")
                        .solution-bluebox__right 
                            img(src="/assets/img/solution-box03-sp.png", alt="") 
                    .solution-box__img
                        img(src="/assets/img/solution-02.png", alt="")
                        .solution-box__right
                            p 既に完成されたテン
                                br
                                | プレート通りに
                                br
                                | 進めるだけ！
                .solution-box
                    .solution-box__number  
                        h2 4
                    .solution-box__title.pc
                        p ヒント機能で経験が浅くても安心
                    .solution-box__dsc
                        p 項目ごとに付けられるヒント機能により、
                            br
                            | 作業のコツや注意点を各メンバーと簡単に共有！
                    .solution-box__img-sp.img-sp__last
                        img(src="/assets/img/solution-04-sp.png", alt="")
                    .solution-box__img
                        img(src="/assets/img/solution-03.png", alt="")
        .contact
            .footer-inner 
                .footer-inner__contact-pc
                    p 費用等、導入についてのご質問は下記よりご連絡ください。
                .footer-inner__contact-sp 
                    p 費用等、導入についての
                        br
                        | ご質問は下記よりご連絡ください。
                .footer-inner__btn  
                    a(href="https://idealump.com/contact") 
                        p お問い合わせはこちら
                p.footer-inner__demo デモ画面・機能一覧もお見せいたします！
        .footer__pagetop
            .footer__pagetop__link 
                a(href="#")
